@{
    ViewBag.Title = "About Us";
}
<link href="~/Content/myStyle.css" rel="stylesheet" />


<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h2>About Us</h2>

<nav class="breadcrumb">
    <a class="breadcrumb-item" href="/Home/Index">Home /</a>
    <a class="breadcrumb-item " href="/Home/Missions"> Missions /</a>
    <a class="breadcrumb-item active" href="/Home/About"> About Us</a>
</nav>

<div class="container">

    <iframe width="560" height="315" src="https://www.youtube.com/embed/3aKU2rkvFQU" frameborder="0" allowfullscreen></iframe>


</div>

<div class="container">
    
    <div class="row">

        <div class="col-md-4">
            <h4><b>More about us</b></h4>
            <p> </p>
                <p> We have been helping missionaries prepare for missions for the last 25 years.
                    We started out helping mainly missionaries located in the United States then spread out to
                    different parts of the world. We find pride in making sure every missionary who visits our website
                    leaves more comfortable with going on their mission.
                </p>
                         
                <p></p>
            
             </p>
        </div>
    </div>
 </div>  



    <!-- Wrapper Start -->
<dv class="container">

    <div class="wrapper748 center padding-40 tablet-padding">

        <!-- Comment Form Start -->
        <div class="row shadow padding-15 white">

            <form class="form wire teal">
                
                

                <div class="row pull-left -margin padding-top-10">
                    <textarea placeholder="say something..."></textarea>

                    <button class="btn teal pull-right">Submit</button>
                </div>
            </form>

        </div>
        <!-- Comment Form End -->
        <!-- Filter Start -->
    

        <!-- Filter End -->
        <!-- Comments Start -->
        <div class="row padding-top-20">

            <!-- A Comment Start ----------------------------------------------------------------------------------->
            <div class="col-2 margin-bottom padding-15 fill-white shadow border border-1 solid teal padding-bottom-5">

                <!-- Comment Header Start -->
                <div class="row">
                    <div class="col-4">
                        <a href="/Home/About" class="img-responsive">
                            <img src="~/Content/Images/nouser.png" width="50" height="70" />
                        </a>
                    </div>

                    <div class="col-4 padding-5">
                        <p class="lh-2 padding-top-5">
                            <a href="/Home/About" class="text-teal text-strong hover-text-underline">Some Dude</a>
                        </p>
                        <p class="lh-2"><span>2 min ago</span></p>
                    </div>
                </div>
                <!-- Comment Header End -->
                <!-- Comment Content Start -->
                <div class="row padding-5">
                    <p>
                        Business Week wrote an article called “God’s MBAs:
                         Why Mormon Missions Produce Leaders,” (see link below) and we thought that we would just highlight a few of these amazing 
                        (and wealthy) influencer-leaders who have served full-time LDS missions. 
                    </p>
                </div>
                <!-- Comment Content End -->
                <!-- Comment Meta Start -->
                <div class="row padding-5 border border-top border-1 solid silver margin-top">

                    <!-- Voting Start -->
                    <a href="/Home/About" class="btn hover-fill-disable fill-transparent text-teal -padding-left">
                        <i class="fa fa-lg fa-angle-up"></i> 69
                    </a>
                    <a href="/Home/About" class="btn  hover-fill-disable fill-transparent text-red">
                        <i class="fa fa-lg fa-angle-down"></i> 45
                    </a>
                    <!-- Voting End -->
                    <!-- Action Start -->
                    <div class="pull-right">
                        <a href="/Home/About" class="btn fill-transparent hover-fill-disable text-gray hover-text-teal">
                            <i class="fa fa-exclamation-triangle"></i> Report
                        </a>
                        <a href="/Home/About" class="btn fill-transparent hover-fill-disable text-gray hover-text-teal -padding-right">
                            <i class="fa fa-reply"></i> Reply
                        </a>
                    </div>
                    <!-- Actions End -->

                </div>
                <!-- Comment Meta End -->

            </div>
            <!-- Nested Comment End -->
            <!-- A Comment Start -->
            <!-- A Comment End -->
            <!-- Nested Comment Start -->



            <!-- A Comment Start ----------------------------------------------------------------------------------->
            <div class="col-2 margin-bottom padding-15 fill-white shadow border border-1 solid teal padding-bottom-5">

                <!-- Comment Header Start -->
                <div class="row">
                    <div class="col-4">
                        <a href="/Home/About" class="img-responsive">
                            <img src="~/Content/Images/nouser.png" width="50" height="70" />
                        </a>
                    </div>

                    <div class="col-4 padding-5">
                        <p class="lh-2 padding-top-5">
                            <a href="/Home/About" class="text-teal text-strong hover-text-underline">Some Dude</a>
                        </p>
                        <p class="lh-2"><span>2 min ago</span></p>
                    </div>
                </div>
                <!-- Comment Header End -->
                <!-- Comment Content Start -->
                <div class="row padding-5">
                    <p>
                        Preparing for a mission can be hard especially if you have limited time to prepare.
                        Make sure you write down all you need to accomplish in order to not forget anything.
                        Go back and check off the list that you made to see what you have left.
                    </p>
                </div>
                <!-- Comment Content End -->
                <!-- Comment Meta Start -->
                <div class="row padding-5 border border-top border-1 solid silver margin-top">

                    <!-- Voting Start -->
                    <a href="/Home/About" class="btn hover-fill-disable fill-transparent text-teal -padding-left">
                        <i class="fa fa-lg fa-angle-up"></i> 69
                    </a>
                    <a href="/Home/About" class="btn  hover-fill-disable fill-transparent text-red">
                        <i class="fa fa-lg fa-angle-down"></i> 45
                    </a>
                    <!-- Voting End -->
                    <!-- Action Start -->
                    <div class="pull-right">
                        <a href="/Home/About" class="btn fill-transparent hover-fill-disable text-gray hover-text-teal">
                            <i class="fa fa-exclamation-triangle"></i> Report
                        </a>
                        <a href="/Home/About" class="btn fill-transparent hover-fill-disable text-gray hover-text-teal -padding-right">
                            <i class="fa fa-reply"></i> Reply
                        </a>
                    </div>
                    <!-- Actions End -->

                </div>
                <!-- Comment Meta End -->

            </div>
            <!-- Nested Comment End -->
            <!-- A Comment Start -->


            <!-- A Comment Start ----------------------------------------------------------------------------------->
            <div class="col-2 margin-bottom padding-15 fill-white shadow border border-1 solid teal padding-bottom-5">

                <!-- Comment Header Start -->
                <div class="row">
                    <div class="col-4">
                        <a href="/Home/About" class="img-responsive">
                            <img src="~/Content/Images/nouser.png" width="50" height="70" />
                        </a>
                    </div>

                    <div class="col-4 padding-5">
                        <p class="lh-2 padding-top-5">
                            <a href="/Home/About" class="text-teal text-strong hover-text-underline">Some Dude</a>
                        </p>
                        <p class="lh-2"><span>2 min ago</span></p>
                    </div>
                </div>
                <!-- Comment Header End -->
                <!-- Comment Content Start -->
                <div class="row padding-5">
                    <p>
                        There are so many things that will happen in your mission. Just don't give up,
                        care on the good work. 
                    </p>
                </div>
                <!-- Comment Content End -->
                <!-- Comment Meta Start -->
                <div class="row padding-5 border border-top border-1 solid silver margin-top">

                    <!-- Voting Start -->
                    <a href="/Home/About" class="btn hover-fill-disable fill-transparent text-teal -padding-left">
                        <i class="fa fa-lg fa-angle-up"></i> 69
                    </a>
                    <a href="/Home/About" class="btn  hover-fill-disable fill-transparent text-red">
                        <i class="fa fa-lg fa-angle-down"></i> 45
                    </a>
                    <!-- Voting End -->
                    <!-- Action Start -->
                    <div class="pull-right">
                        <a href="/Home/About" class="btn fill-transparent hover-fill-disable text-gray hover-text-teal">
                            <i class="fa fa-exclamation-triangle"></i> Report
                        </a>
                        <a href="/Home/About" class="btn fill-transparent hover-fill-disable text-gray hover-text-teal -padding-right">
                            <i class="fa fa-reply"></i> Reply
                        </a>
                    </div>
                    <!-- Actions End -->

                </div>
                <!-- Comment Meta End -->

            </div>
            <!-- Nested Comment End -->
            <!-- A Comment Start -->


        </div>
        <!-- Comments End -->

    </div>
    <!-- Wrapper End -->
</dv>